.team{
  width: 100vw;
  background: linear-gradient(#5899df, #bdd8f3);
  .team-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Open Sans',sans-serif;
    .team-head-en{
      color: #ffffff;
      font-size: 18px;
      margin-top: 20px;
    }
    .team-head{
      font-family: cursive;
      padding-bottom: 40px;
    }
  }
  .team-item{

  }
}

