.direction-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans',sans-serif;
  .dc-title{
    margin: 20px 0;
    width: 100vw;
    text-align: center;
    font-family: cursive;
  }
  .dc-layout{
    display: flex;
    flex-direction: row;
  }
}